/*General layout start*/

body {
    /*background: linear-gradient(black, #282828, #282828);*/
    background: #101010
}


h1 {
    color: #f0cf81;
}

h4 {
    color: #f0cf81;
}

p {
    color: #f0cf81;
}

/*General layout slut*/

/* menu start*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    margin: 30px;




}

p a {
    color: #f0cf81;
    font-size: 36px;
    padding-right: 10px;
}

a hover {
    color: #f0cf81;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #101010;
    background-color: #101010;
    overflow-x: hidden;
    transition: 0.5s;

}


.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f0cf81;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #d6a126;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*menu slut*/

/*forside start*/

/*forside slut*/

/*om start*/

/*om slut*/

/*oelkort start*/

.beer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.billede img {
    width: 300px;
    flex-grow: 1;
    margin: 5px;
}

/*oelkort slut*/

/*Event start*/

/*Event slut*/

/*Kontakt start*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

input[type=submit] {
    background-color: #fafafa;
    color: #363636;
    padding: 8px 20px;
    border: none;

    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #bfaa52;
}

.container {
    width: 30%;
    height: 100%;
    background-color: #282828;
    padding: 20px;
}

/*kontakt slut*/
